<ul class="goals">
  <li>
    <a href="{{ 'goals/diversity' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait1.jpg' | relative_url }}">
          <h3>Inclusive Communities</h3>
        </div>

        <div class="goal-back">
          <p>
            We have inclusive, diverse communities where everyone can afford to live and thrive.
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/affordability' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait2.jpg' | relative_url }}">
          <h3>Affordable Places</h3>
        </div>

        <div class="goal-back">
          <p>
            We have convenient and affordable options to access good jobs, schools and recreation.
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/prosperity' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait4.jpg' | relative_url }}">
          <h3>Quality Jobs</h3>
        </div>

        <div class="goal-back">
          <p>
            We have good jobs and pathways to prosperity.
          </p>
        </div>
      </div>
    </a>
  </li>
  
  <li>
    <a href="{{ 'goals/education' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait7.jpg' | relative_url }}">
          <h3>Affordable Education</h3>
        </div>

        <div class="goal-back">
          <p>
            We solidify our foundation in education by offering affordable and quality education, from preschool through college.
          </p>
        </div>
      </div>
    </a>
  </li>
  
  <li>
    <a href="{{ 'goals/environment' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait3.jpg' | relative_url }}">
          <h3>Safe Environments</h3>
        </div>

        <div class="goal-back">
          <p>
            We eliminate conditions and harmful environments that leave people sick or injured.
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/public-safety' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait5.jpg' | relative_url }}">
          <h3>Public Safety</h3>
        </div>

        <div class="goal-back">
          <p>
            We have a public safety and justice system that protects residents of all backgrounds.
          </p>
        </div>
      </div>
    </a>
  </li>
</ul>
