<ul class="goals">
  <li>
    <a href="{{ 'goals/diversity' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait1.jpg' | relative_url }}">
          <h3>Inclusive Communities</h3>
        </div>

        <div class="goal-back">
          <p>
            <span>&#8220;</span>
            We have inclusive, diverse communities where everyone can afford to live and thrive.
            <span>&#8221;</span>
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/affordability' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait2.jpg' | relative_url }}">
          <h3>Mobility</h3>
        </div>

        <div class="goal-back">
          <p>
            <span>&#8220;</span>
            We eliminate conditions and harmful environments that keep people sick
            <span>&#8221;</span>
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/prosperity' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait4.jpg' | relative_url }}">
          <h3>Quality Jobs</h3>
        </div>

        <div class="goal-back">
          <p>
            <span>&#8220;</span>
            We eliminate conditions and harmful environments that keep people sick
            <span>&#8221;</span>
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/environment' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait3.jpg' | relative_url }}">
          <h3>Safe Environments</h3>
        </div>

        <div class="goal-back">
          <p>
            <span>&#8220;</span>
            We eliminate conditions and harmful environments that keep people sick
            <span>&#8221;</span>
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/public-safety' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait5.jpg' | relative_url }}">
          <h3>Public Safety</h3>
        </div>

        <div class="goal-back">
          <p>
            <span>&#8220;</span>
            We eliminate conditions and harmful environments that keep people sick
            <span>&#8221;</span>
          </p>
        </div>
      </div>
    </a>
  </li>

  <li>
    <a href="{{ 'goals/education' | relative_url }}">
      <div class="card">
        <div class="goal-front">
          <img src="{{ 'assets/images/portrait7.jpg' | relative_url }}">
          <h3>Affordable Education</h3>
        </div>

        <div class="goal-back">
          <p>
            <span>&#8220;</span>
            We eliminate conditions and harmful environments that keep people sick
            <span>&#8221;</span>
          </p>
        </div>
      </div>
    </a>
  </li>
</ul>
