._clear {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both; 
  }
}

._vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

._no-vendor-styles {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
