$color_brand-primary: #4bc989;
$color_brand-secondary: #13314d;

$color_bg-light: #fefefe;
$color_bg-medium: #95989a;
$color_bg-dark: $color_brand-secondary;

$color_font-light: $color_bg-light;
$color_font-medium: $color_bg-medium;
$color_font-dark: $color_brand-secondary;

$font_family-primary: Times, serif;
