$color_brand-primary: #13314D;
$color_brand-secondary: #57E09B;

$color_bg-light: #fefefe;
$color_bg-medium: #95989a;
$color_bg-dark: $color_brand-primary;

$color_font-light: $color_bg-light;
$color_font-medium: $color_bg-medium;
$color_font-dark: $color_brand-primary;

$font_family-primary: 'myriad-devanagari', Arial, sans-serif;
