button, .button {
  display: inline-block; 

  margin: 5px 0; 
  margin-right: 5px;
  padding: 6px 14px;

  color: $color_font-light;
  font-size: 20px;
  letter-spacing: 1px;

  background: $color_brand-secondary; 
}
