button, .button {
  display: inline-block; 

  margin: 5px 0; 
  margin-right: 5px;
  padding: 8px 14px 6px;

  color: $color_font-light;
  font-size: 20px;
  letter-spacing: 1px;

  background: $color_brand-secondary; 
  border: none;
  outline: none;
}

button { 
  font-weight: 500; 

  transition: background .15s;

  &:hover {
    background: $color_brand-secondary--hover; 

    transition: background .15s;
  }
}
