ul.goals {
  $custom_break: 1240px;

  display: flex;
  flex-wrap: wrap;

  height: 100%;
  margin: 40px auto 60px;

  p {
    font-size: 15px;
    font-weight: 100;
    line-height: 24px;
  }

  li {
    flex: 1 0 15.16%;

    min-height: 275px;

    text-align: center;

    //cursor: pointer;
    perspective: 300px;

    @include media($custom_break) {
      flex: 1 0 32%; 

      margin: .66%;
    }

    @include media('medium-small') { min-height: 160px; }

    @include media('small') {
      flex: 1 0 49%; 
      margin: .5%;
    }

    .card {
      height: 100%;

      @supports (transform-style: preserve-3d) {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        transition: transform .4s;
      }
    }

    &:hover .card, .card:hover {
      @supports (transform-style: preserve-3d) {
        transform: rotateY(180deg);
        transition: transform .4s;
      }

      @include media('medium-small') { transform: initial; }
    }

    & + li { 
      @media (min-width: $custom_break) { margin-left: 15px; }
    }

    .card div { 
      width: 100%;

      @supports (transform-style: preserve-3d) {
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-style: preserve-3d;
      }
    }

    .goal-front {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: 100%; 
      width: 100%;

      overflow: hidden;

      h3 {
        @extend ._vertical-center;

        width: 90%;
        margin: 0 auto;

        color: $color_font-light; 
        font-size: 20px;
        font-weight:400;

        @include media('small') { font-size: 16px; }
      }

      img {
        min-height: 100%;
        min-width: 100%;
      }
    }

    .goal-back {
      display: flex;
      vertical-align: middle;

      height: 100%;

      color: $color_font-light;

      background: $color_bg-gradient;

      @supports (transform-style: preserve-3d) {
        transform: rotateY(180deg);
      }

      @include media('medium-small') {
        display: none; 
      }

      p {
        width: 80%;
        margin: auto;
        padding: 15px 0;

        text-align: left;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
      }

      span {
        display: inline-block;
        font-family: 'Times New Roman';

        &:first-of-type { margin-right: -3px; }
        &:last-of-type { margin-left: -3px; }
      }
    }
  }
}
