.layout.default {
  min-width: 100%;
  padding-left: 0;

  transform: translateZ(0);
  transition: padding-left $transition_nav-time;
}

header { 
  width: 100%;

  overflow: hidden;

  img.header-background {
    @extend ._vertical-center;

    left: -50%;
    right: -50%;

    min-height: 100%;
    min-width: 100%;
    margin: 0 auto;

    opacity: .4;
  }
}

.nav-button {
  $height: 16px;

  position: fixed;
  top: 30px;
  left: 25px;
  z-index: 200;

  height: $height;
  padding: 0;

  background: none;
  border: none;
  outline: none;

  &:hover { background: none; }

  @include media('medium-small') {
    top: 24px; 
    left: 18px;
  }

  .hamburger {
    $thickness: 2px;

    width: 35px; 
    height: $thickness;
    
    background: $color_brand-secondary;
    transform: translateZ(0);
    transition: background $transition_nav-time;

    &:after {
      @extend ._vertical-center;

      content: '';
      display: block;

      width: 100%;
      height: $height;

      border: $thickness solid $color_brand-secondary;
      border-right: 0;
      border-left: 0;

      transition: border-color $transition_nav-time;
    }

    @include media('medium-small') {
      width: 30px; 
    }
  }
}

.site-wrapper {
  max-width: 100%;
  overflow: hidden;

  &.active {
    .hamburger {
      background: $color_bg-light; 
      transition: background $transition_nav-time;

      &:after {
        border-color: $color_bg-light; 
        transition: border-color $transition_nav-time;
      }
    }

    nav {
      width: 300px; 
      transition: width $transition_nav-time;

      @include media('medium-small') { width: 250px; }
    } 

    .layout.default {
      padding-left: 300px; 
      transition: padding-left $transition_nav-time;

      @include media('medium-small') { padding-left: 250px; }
    }
  }
}
