.layout.home {

  header {
    height: 100%;

    background: $color_brand-primary; 

    h4 {
      margin: 0;
      padding-top: 15px;

      color: $color_brand-secondary; 
      font-size: 20px;
      font-weight: 100;
    }

    h1 {
      width: 70%;
      margin: 140px auto 180px;

      color: $color_font-light; 
      font-family: $font_family-secondary;

      p {
        font-size: 55px;
        font-weight: 300;
      }
    }
  }

  section, footer {
    padding: 40px 0px;

    text-align: left; 

    h2 {
      margin-bottom: 10px; 

      font-size: 28px;

      & + p { margin-top: 0; }
    }
  }

  p {
    font-size: 18px;
    font-weight: 100;
    line-height: 26px;

    &.tight { width: 80%; }
  }

  .principles-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 30px auto 40px;

    .principle {
      margin: 40px 25px;

      text-align: center;

      img {
        height: 100px;
        width: auto;
        max-width: 60%;
        margin: 0 auto;

        transform: translateZ(0);
      } 

      h5 {
        height: 40px;

        font-size: 20px; 
      }

      p {
        width: 90%;
        margin: 0 auto;

        font-size: 18px; 
        line-height: 24px;
      }
    }
  }

  footer {
    color: $color_font-light;

    background: $color_bg-dark; 

    ul.events-list {
      display: flex; 

      width: 95%;
      margin: 40px auto 80px;

      li {
        flex: 1 0 33.33%; 

        & > div { display: inline-block; }
      }

      .event-date {
        flex: 1 0 25%; 
        vertical-align: top;

        width: 60px;
        padding: 15px;

        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;

        background: $color_bg-gradient;
        border-radius: 50%;

        span {
          display: block;

          font-size: 40px;
          font-weight: 200;
          line-height: 40px;
        }
      }

      .event-info {
        width: calc(75% - 60px);
        margin-left: 5%;

        h5 {
          margin: 0; 
          padding: 0;

          font-size: 18px;
          line-height: 23px;

          &:last-of-type { font-size: 16px; }
        }

        p {
          margin: 0;

          font-size: 14px; 
          font-weight: 200;
          line-height: 18px;
        }
      }
    }

    .sub-footer {
      border-top: 1px solid $color_brand-primary--light; 
    }
  }
}
