.layout.home {

  header {
    height: 100%;
    padding: 140px 0 180px;

    background: $color_brand-primary; 

    h4 {
      position: absolute;
      top: 20px;
      left: 0; 
      right: 0;

      margin: 0 auto;

      color: $color_brand-secondary; 
      font-size: 20px;
      font-weight: 100;

      @include media('medium-small') { font-size: 16px; }
      @include media('small') { font-size: 14px; }
    }

    h1 {
      width: 70%;
      margin: 0 auto;

      color: $color_font-light; 
      font-family: $font_family-secondary;

      p {
        font-size: 55px;
        font-weight: 300;
      }

      @include media('medium') {
        p {
          display: inline;

          font-size: 50px;
          line-height: 60px;
        }
      }

      @include media('medium-small') {
        p {
          font-size: 36px; 
          line-height: 46px;
        }
      }

      @include media('small') {
        p {
          font-size: 28px; 
          line-height: 30px;
        }
      }
    }

    h3 {
      top: 20px;

      max-width: 50%;
      margin: 0 auto;

      color: $color_brand-secondary; 
    }
  }

  section, footer {
    padding: 40px 0px;

    text-align: left; 

    @include media('small') { padding: 30px 0; }

    h2 {
      margin-bottom: 10px; 

      font-size: 28px;

      & + p { margin-top: 0; }

      @include media('small') { font-size: 24px; }
      @include media('x-small') { font-size: 20px; }
    }
  }

  .download-section {
    padding: 24px 0;

    color: $color_font-light;

    background: $color_brand-primary;
    
    .content-wrapper {
      @include media('medium') { display: block; }

      & > .sub-section-column { 
        padding: 20px 40px; 

        &:first-of-type { padding-left: 0; }
        &:last-of-type { padding-right: 0; }

        @include media('medium') { 
          display: block; 

          padding: 20px 0;
        }

        & + .sub-section-column { 
          border-left: 1px solid $color_bg-light; 

          @include media('medium') {
            border-left: none; 
            border-top: 1px solid $color_bg-light;
          }
        }
      }
    }

    .sub-section-column {
      display: flex; 
      flex: 1 1 50%;

      margin: 0;

      & > .sub-section-column { 
        display: block; 

        &:first-of-type { 
          flex: 1 1 58%;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }

    h2 { font-size: 20px; }
    button, .button { font-size: 16px; }
    .image-wrapper img { left: inherit; }
  }

  p {
    font-size: 18px;
    font-weight: 100;
    line-height: 26px;

    &.tight { width: 80%; }

    @include media('medium-small') {
      font-size: 16px; 
      line-height: 24px;
    }

    @include media('x-small') {
      font-size: 14px; 
      line-height: 22px;
    }
  }

  .principles-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 30px auto 40px;

    @include media('medium-small') {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }

    .principle {
      margin: 40px 25px;

      text-align: center;

      @include media('medium-small') { margin: 40px 20px; }
      @include media('x-small') { margin: 30px 16px; }

      img {
        height: 100px;
        width: auto;
        max-width: 60%;
        margin: 0 auto;

        transform: translateZ(0);

        @include media('small') { height: 80px; }
      } 

      h5 {
        height: 40px;

        font-size: 20px; 

        @include media('small') { font-size: 16px; }

        @include media('x-small') { 
          height: 24px;

          font-size: 14px; 
        }
      }

      p {
        width: 90%;
        margin: 0 auto;

        font-size: 18px; 
        line-height: 24px;
      }
    }
  }

  .disparities-section { padding-top: 0; }
  .disparities.tabs { margin-top: 0; }


  .tab-list {
    @include media('small') { display: none; }
  }

  .tabs-select {
    @include media('small') { display: block;}
  }

  sup a {
    color: $color_brand-secondary;
    font-size: 10px; 
  }

  .footnotes {
    border-top: 1px solid $color_bg-dark;

    ol {
      color: $color_font-medium;
      font-size: 10px;

      p {
        margin: 0;

        color: $color_font-medium;
        font-size: 11px; 

        .reversefootnote { color: $color_brand-secondary; }
      } 
    }
  }

  footer {
    color: $color_font-light;

    background: $color_bg-dark; 

    ul.events-list {
      display: flex; 

      width: 95%;
      margin: 40px auto 80px;

      @include media('medium-small') { display: block; }
      @include media('small') { width: 100%; }

      li {
        flex: 1 0 33.33%; 
        margin: 40px auto;

        & > div { display: inline-block; }
      }

      .event-date {
        flex: 1 0 25%; 
        vertical-align: top;

        width: 60px;
        padding: 15px;

        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;

        background: $color_bg-gradient;
        border-radius: 50%;

        @include media('x-small') {
          width: 50px;
          padding: 12px;

          font-size: 10px;
          line-height: 18px;
        }

        span {
          display: block;

          font-size: 40px;
          font-weight: 200;
          line-height: 40px;

          @include media('x-small') {
            font-size: 34px; 
            line-height: 34px;
          }
        }
      }

      .event-info {
        width: calc(75% - 60px);
        margin-left: 5%;

        h5 {
          margin: 0; 
          padding: 0;

          font-size: 18px;
          line-height: 23px;

          &:last-of-type { font-size: 16px; }

          @include media('x-small') { 
            font-size: 16px; 
            line-height: 21px;
          }
        }

        p {
          margin: 0;

          font-size: 14px; 
          font-weight: 200;
          line-height: 18px;

          overflow: hidden;
          text-overflow: ellipsis;

          @include media('x-small') {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }

    .sub-footer {
      border-top: 1px solid $color_brand-primary--light; 
    }
  }
}
