.layout.indicators {
  padding-top: 100px;

  color: $color_font-light;

  background: $color_brand-primary;

  h1 {
    margin: 0;
    margin-bottom: 20px;

    text-align: left;
    font-size: 38px;
    font-weight: 400;
    font-family: $font_family-secondary; 
  }

  p {
    margin: 30px 0;

    text-align: left; 
    font-size: 15px;
    font-weight: 100;
    line-height: 24px;

    opacity: .9;
  }

  .tabs {
    margin-top: 80px; 
  }

  .tab-list {
    border-bottom-color: $color_bg-light;

    li {
      color: $color_brand-secondary;
      font-size: 13px; 
    }
  }

  .tab-content {
    width: 100%;
    margin: 20px 0; 
  }

  .charts-wrapper {
    margin-top: 70px; 
  }

}
