.layout.indicators {
  padding-top: 100px;

  color: $color_font-light;

  background: $color_brand-primary;

  h1 {
    margin: 0;
    margin-bottom: 20px;

    text-align: left;
    font-size: 38px;
    font-weight: 400;
    font-family: $font_family-secondary; 
  }

  p {
    margin: 30px 0;

    text-align: left; 
    font-size: 15px;
    font-weight: 100;
    line-height: 24px;

    opacity: .9;
  }

  .tabs {
    margin-top: 80px; 
  }

  .tab-list {
    border-bottom-color: $color_bg-light;

    li {
      color: $color_brand-secondary;
      font-size: 13px; 
    }
  }

  .tab-content {
    width: 100%;
    margin: 20px 0; 
  }

  .charts-wrapper { margin-top: 70px; }

  .charts { 
    display: flex; 

    padding: 50px 0;;

    h2 { 
      text-align: left;

      span { color: $color_brand-tertiary; } 
    }
  }

  .charts-column { 
    &:first-of-type { flex: 1 0 60%; }
    &:last-of-type { flex: 1 0 40%; }
  }

  map {
    g[data-layer-name="muni"] > path {
      &:hover { stroke: $color_bg-light; } 
    }
  }

  .map-legend {
    width: 70%;
    height: 10px;
    margin: 25px auto 0;

    background: linear-gradient(to right, $color_brand-primary, $color_brand-secondary);

    span {
      position: absolute;
      bottom: -20px;

      font-size: 10px;
    
      &.range-min { left: -20px; }
      &.range-max { right: -20px; }
    }
  }

  .sub-header {
    margin-bottom: 30px;

    h2 {
      font-size: 18px;
      font-weight: 400;

      &:first-of-type { display: none; } 
      &:last-of-type { display: block; } 
    } 

    &.default {
      h2 {
        &:first-of-type { display: block; } 
        &:last-of-type { display: none; } 
      } 
    } 
  }

  .candlestick {
    margin: 25px auto 40px;
    text-align: left; 

    h4 { 
      margin-bottom: 10px;

      font-weight: 300; 
    }

    .content {
      height: 20px;
      width: 100%;

      background: lighten($color_brand-primary, 4);
    }

    .stick {
      height: 100%;

      background: $color_brand-secondary; 

      .bound {
        position: absolute;
        bottom: -20px;

        font-size: 9px; 

        &.min-bound { left: -20px; }
        &.max-bound { right: -20px; }
      }
    }

    .tick {
      @extend ._vertical-center; 
      top: 50%;

      width: 2px;
      height: 135%;

      text-align: center;

      background: $color_bg-light; 
      overflow: visible;

      &.identified { 
        color: $color_brand-tertiary;

        background: $color_brand-tertiary; 

        .tick-info {
          bottom: initial;
          top: -30px; 
        }
      }

      .tick-info {
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;

        width: max-content; 
        margin: 0 auto;
      }

      p {
        margin: 0; 
        padding: 0;

        font-size: 9px;
        font-weight: 100;
        line-height: initial;
      }
    }
  }
}
