.layout.indicators {
  padding-top: 100px;

  color: $color_font-light;

  background: $color_brand-primary;

  h1 {
    margin: 0;
    margin-bottom: 20px;

    text-align: left;
    font-size: 38px;
    font-weight: 400;
    font-family: $font_family-secondary; 
  }

  p {
    margin: 30px 0;

    text-align: left; 
    font-size: 15px;
    font-weight: 100;
    line-height: 24px;

    opacity: .9;

    a {
      color: $color_brand-tertiary; 

      &:hover { opacity: .6; }
    }
  }

  .tabs {
    margin-top: 80px; 
  }

  .tab-list {
    border-bottom-color: $color_bg-light;

    @include media('medium') { display: none; }

    li {
      color: $color_brand-secondary;
      font-size: 13px; 
    }
  }

  .tab-content {
    width: 100%;
    margin: 20px 0; 
  }

  .tabs-select {
    border-color: $color_brand-secondary;
    
    &:hover { border-color: $color_brand-tertiary; }
    
    @include media('medium') { display: block; }
  }

  .charts-wrapper { 
    margin-top: 70px; 
    padding: 10px 0;

    h3 {
      width: 70%;
      margin: 0 auto;

      font-size: 22px;

      @include media('small') { 
        width: 100%; 

        font-size: 15px; 
      }
    }
  }

  *[data-viewer] {
    &:not(.active) {
      display: none;  
    }
  }

  *[data-viewer="map"] { 
    display: flex; 

    padding: 25px 0;;

    @include media('medium') { display: block; }

    h2 { 
      text-align: left;

      span { color: $color_brand-tertiary; } 
    }
  }

  *[data-viewer="chart"] {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px; 

    @include media('medium') { width: 100%; }

    text { fill: $color_font-light; }

    path.domain, .tick > line { 
      stroke: $color_bg-light; 
    }

    .c3-tooltip {
      color: $color_brand-primary; 
      opacity: 1;
      
      td.name { text-align: left; }
    }
  }

  .charts-column { 
    &:first-of-type { flex: 1 0 60%; }
    &:last-of-type { 
      flex: 1 0 40%; 

      @include media('medium') {
        margin-top: 70px; 
      }
    }
  }

  *[data-map] {
    g[data-layer-name="muni"], g[data-layer-name="schoolDistricts"] {
      & > path {
        &:hover { stroke: $color_bg-light; } 
      }
    }
  }

  .legend-range {
    width: 70%;
    height: 10px;
    margin: 8px auto 0;

    text-align: center;

    background: linear-gradient(to right, $color_brand-primary, $color_brand-secondary);

    @include media('small') { width: 85%; }

    & > span {
      position: absolute;
      bottom: -20px;

      font-size: 10px;
    
      &.range-min { left: -20px; }
      &.range-max { right: -20px; }

      @include media('small') { font-size: 9px; }
    }

    .color-reference, & p {
      bottom: -10px;

      width: 100%;
      margin: 0 auto;

      font-size: 12px;
      text-align: center;

      @include media('small') { font-size: 10px; }

      .color { 
        display: inline-block; 
        top: 3px;

        height: 12px;
        width: 12px;

        border-radius: 100%;
      }

      .color.missing {
        background:  #081B2D;       // From map.js
        border: 1px solid #1B4873;  // From map.js
      }
    }
  }

  .legend-text {
    width: 70%; 
    margin: 20px auto 0;

    @include media('small') { width: 90%; }

    p { 
      margin: 0;

      font-size: 12px;
      line-height: 18px;
      text-align: center;

      @include media('small') { font-size: 10px; }
    }
  }

  .sub-header {
    height: 40px;
    margin-bottom: 30px;

    @include media('medium') { margin-bottom: 0; }

    h2 {
      margin-top: 0;

      font-size: 18px;
      font-weight: 400;

      &:first-of-type { 
        display: none; 

        font-size: 15px;
        font-weight: 100;

        @include media('small') { font-size: 13px; }
      } 

      &:last-of-type { display: block; } 

      @include media('small') {
        font-size: 14px; 
      }
    } 

    &.default {
      h2 {
        &:first-of-type { display: block; } 
        &:last-of-type { display: none; } 
      } 
    } 
  }

  .candlestick {
    margin: 15px auto;

    text-align: left; 

    h4 { 
      display: inline-block;

      margin-bottom: 10px;
      padding: 3px 6px;

      font-weight: 300; 

      background: $color_bg-dark;
      border-bottom: 1px solid rgba($color_bg-light, 0);
      cursor: pointer;

      &.active, &:hover {
        color: $color_font-dark;
        font-weight: 600; 

        background: $color_bg-light; 
      }

      @include media('small') { font-size: 14px; }
    }

    .content {
      height: 20px;
      width: 100%;

      background: lighten($color_brand-primary, 4);

      @include media('small') { width: 90%; }
    }

    .line {
      position: absolute;
      top: 0;

      height: 100%;
      width: 1px;

      background: $color_brand-secondary;
    }

    .bound {
      position: absolute;
      bottom: -20px;

      font-size: 9px; 
    }

    .tick {
      @extend ._vertical-center; 
      top: 50%;

      width: 2px;
      height: 135%;

      text-align: center;

      background: $color_bg-light; 
      overflow: visible;

      &.identified { 
        color: $color_brand-tertiary;

        background: $color_brand-tertiary; 

        .tick-info {
          bottom: initial;
          top: -30px; 
        }
      }

      .tick-info {
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;

        width: max-content; 
        margin: 0 auto;
      }

      p {
        margin: 0; 
        padding: 0;

        font-size: 9px;
        font-weight: 100;
        line-height: initial;
      }
    }
  }

  .meta-map {
    margin-top: 80px;

    p { font-size: 10px; }
  }

  .meta-chart {
    margin-top: 30px;

    p {
      margin: 0; 

      font-size: 10px;
      line-height: 16px;
    } 
  }

}
