.layout.outcome {

  header {
    color: $color_font-light;

    background: $color_bg-dark;
  }

  article.strategy {
  
  }
  
  footer {
    color: $color_font-light;

    background: $color_bg-dark; 
  }

}
