.layout.outcome {

  header {
    min-height: 70vh;

    color: $color_font-light;

    background: $color_bg-dark;
    overflow: hidden;

    .header-content {
      @extend ._vertical-center;

      text-align: left;
      opacity: .9;

      @include media('medium') {
        position: relative;
        top: 0;
        transform: none;

        padding: 100px 0;
      }

      h1 {
        width: 80%;
        margin: 0;
        margin-bottom: 40px;

        font-weight: 400; 
        font-size: 40px;

        @include media('medium') { 
          width: 85%; 

          font-size: 34px;
        }

        @include media('medium-small') {
          width: 100%; 

          font-size: 30px;
        }

        @include media('x-small') { font-size: 26px; }
      } 

      p {
        font-size: 15px;
        font-weight: 100;
        line-height: 24px; 
      }
    }
  }

  article.strategy {
    $col_width: 55%; 
    $col_margin: 5%;

    display: flex;

    padding: 80px 0;

    text-align: left; 

    @include media('medium-small') { 
      display: block; 

      padding: 60px 0;
    }

    h2 {
      margin-top: 0;

      font-size: 25px;
      font-weight: 500;

      @include media('small') { font-size: 22px; }
    }

    .strategy-details {
      flex: 1 0 $col_width;  

      margin-right: $col_margin;
      
      p {
        font-size: 15px;
        font-weight: 100;
        line-height: 24px;
      }
    }
    
    .strategy-callout {
      left: 10%;

      width: 80%;
      margin: 0 auto;
      padding-left: 20px;
      
      color: $color_brand-secondary;
      font-family: $font_family-secondary;
      font-size: 24px;
      font-style: italic;
      
      border-left: 10px solid $color_brand-secondary;

      @include media('medium-small') { display: none; }
    }

    .policy-list {
      margin-top: 70px;

      background: $color_brand-secondary--bg;

      & > li {
        padding: 25px;
        padding-left: 50px; 

        font-weight: 100;

        border-top: 2px solid $color_brand-secondary;
        cursor: pointer;

        &:last-of-type { border-bottom: 2px solid $color_brand-secondary; }

        &:hover {
          h4 { color: lighten($color_brand-primary, 10); } 
        }

        &.active { 
          .footnotes, p {
            display: block; 
          }
        }

        h4 {
          margin: 0; 

          font-size: 16px;

          @include media('small') { font-size: 14px; }
        }

        .footnotes { 
          display: none; 

          ol { padding-left: 0px; }

          li {
            font-size: 10px; 

            border-top: 1px solid $color_bg-medium;
          }

          p { 
            margin: 0;

            font-size: 10px;
          }
        }

        p { 
          display: none;

          margin-bottom: 20px;

          font-size: 13px; 
          line-height: 18px;
        }

        button {
          position: absolute;
          top: 25px;
          left: 18px;
          display: block;

          margin: 0;
          padding: 0;

          color: $color_brand-secondary;

          background: none;

          &:hover { color: $color_brand-secondary--light; }
        }
      }
    }

    .strategy-metrics {
      flex: 1 0 ((100 - $col_width)- $col_margin);

      img { width: 100%; }
    }
  }
  
  .best-practice, .sub-section {
    h2 {
      font-size: 24px;   
      line-height: 24px;
      
      @include media('small') { 
        font-size: 22px; 
        line-height: 22px; 
      }
    }

    h4 {
      display: inline-block;

      margin-top: 0;
      margin-bottom: 30px;
      padding-bottom: 3px;

      border-bottom: 1px solid $color_font-dark;

      @include media('small') { font-size: 14px; }
    }
  }

  footer {
    text-align: left;

    background: $color_bg-medium--light;
    border-top: 40px solid $color_bg-light;

    .footer-content { padding: 70px 0; }
    .goals { margin-bottom: 15px; }

    h2 {
      margin: 0; 
      margin-bottom: 60px;

      font-size: 22px; 
    }

    .sub-footer {
      padding: 25px; 

      background: $color_brand-primary;
    }
  }

}
