.layout.report {
  $custom_break: 900px;

  header {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 25px;

    color: $color_brand-secondary; 

    background: $color_brand-primary;

    h4 {
      margin: 0 auto;

      font-size: 20px;
      font-weight: 200;
    }
  } 

  .report-wrapper {
    display: flex;

    height: calc(100vh - 70px);
  }

  .drawer-handle {
    @extend ._vertical-center;
    left: 10px;
    display: inline-block;
    z-index: 5;

    width: fit-content;
    height: 25px;
    padding: 0 15px;

    font-weight: 600;

    border: 2px solid $color_brand-secondary;
    border-top: 0;
    transform: rotate(-90deg) translateY(-50%);
    transition: left .15s;
    cursor: pointer;

    &:hover {
      left: 15px; 

      transition: left .15s;
    }
  }

  .report-navigation {
    flex: 1 0 300px;
    z-index: 10;

    height: 100%;

    text-align: left;

    background: $color_bg-light;

    border-right: 2px solid $color_brand-secondary;
    overflow-y: scroll;
    overflow-x: hidden;

    @include media('medium') { font-size: 14px; }

    @include media($custom_break) {
      flex: 1 0 15px;

      transition: flex .15s;
      
      &.active {
        flex: 1 0 280px; 

        transition: flex .15s;
      }
    }

    & > ul {
      width: 250px;
      padding: 25px;
    }

    li {
      margin: 20px auto; 

      & > a {
        border-left: 0 solid $color_brand-secondary;
        transition: border-width .2s;
      }

      &.active > a {
        border-left-width: 4px; 
        transition: border-width .2s;
      }

      & > ul { padding-left: 20px; }
    }

    a {
      padding-left: 6px;

      &:hover { color: $color_brand-secondary; } 
    }
  }

  .report-viewer {
    height: 100%;

    overflow: scroll;
  }

  .report-viewer-content {
    padding: 50px 75px;

    text-align: left;

    h1, h2 {
      color: $color_brand-secondary;
      font-family: $font_family-secondary;
      font-weight: 400;
    }

    h1 {
      margin-top: 0px;
      padding-bottom: 5px;

      border-bottom: 1px solid $color_brand-secondary; 

      @include media('medium') { font-size: 26px; }
    }

    h2 { 
      margin: 35px auto; 

      @include media('medium') { font-size: 22px; }
    }

    h3 {
      @include media('medium') { font-size: 18px; }
    }

    p {
      margin: 25px auto;

      font-size: 16px;
      line-height: 25px;

      sup a {
        font-size: 10px; 
        color: $color_brand-secondary;
      }
    }

    a {
      color: $color_brand-tertiary; 

      &:hover { opacity: .6; }
    }

    .report-section, .report-sub-section {
      & > ol {
        list-style: none; 

        li {
          color: $color_brand-secondary; 

          &:after {
            content: '+';

            display: block;
            position: absolute;
            top: 0;
            left: -25px;
            
            color: $color_brand-secondary;
          }
        }
      }
    }

    .footnotes {
      border-top: 1px solid $color_bg-dark;

      ol {
        color: $color_font-medium;
        font-size: 10px;

        p {
          margin: 0;

          color: $color_font-medium;
          font-size: 11px; 

          .reversefootnote { color: $color_brand-secondary; }
        } 
      }
    }
  }

  .report-section + .report-section { margin-top: 70px; }

}
