{% include head.html %}

<div class="site-wrapper">
  <button class="nav-button">
    <div class="hamburger"></div>
  </button>

  <nav>
    <div class="nav-panel">
      <ul class="nav-links">
        <li>
          <a href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li>
          Goals

          <ul>
            <li><a href="{{ '/goals/diversity' | relative_url }}">Inclusive Communities</a></li>
            <li><a href="{{ '/goals/affordability' | relative_url }}">Affordable Places</a></li>
            <li><a href="{{ '/goals/prosperity' | relative_url }}">Quality Jobs</a></li>
            <li><a href="{{ '/goals/education' | relative_url }}">Affordable Education</a></li>
            <li><a href="{{ '/goals/environment' | relative_url }}">Safe Environments</a></li>
            <li><a href="{{ '/goals/public-safety' | relative_url }}">Public Safety</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ '/indicators' | relative_url }}">Indicators</a>
        </li>
        <li>
          <a href="{{ '/report' | relative_url }}">Full Report</a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="layout default">
    {{content}}
  </section>
</div>

{% include footer.html %}
