---
layout: default
---

<section class="layout home">

  <header>
    <h4>State of Equity Agenda Update</h4>
    <h1>{{ page.header_text | markdownify }}</h1>
  </header>

  <section class="intro-section">
    <div class="content-wrapper">
      <h2>{{ page.intro.title }}</h2>

      <p class="tight">
        {{ page.intro.text | markdownify }}
      </p>

      {% include goals.html %}
    </div>
  </section>

  <section class="sub-section download-section">
    <div class="content-wrapper">
      <div class="sub-section-column">
        <h2>{{ page.subsection.title }}</h2>

        {{ page.subsection.text | markdownify }}

        <button data-action='download-report'>DOWNLOAD NOW</button>
      </div>

      <div class="sub-section-column">
        <div class="image-placeholder"></div>
      </div>
    </div>
  </section>

  <section class="guiding-principles-section">
    <div class="content-wrapper">
      <h2>{{ page.principles_section.title }}</h2>

      {{ page.principles_section.text | markdownify }}

      <div class='principles-grid'>
        {% for principle in page.principles %}
          <div class="principle">
            <img src="{{ principle.illustration | relative_url }}">
            <h5>{{ principle.title }}</h5>
            <p>
              {{ principle.content }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="disparities-section">
    <div class="content-wrapper">
      <div class="disparities tabs">
        <ul class="tab-list" data-tabs>
          {% for disparity in page.disparities %}
            <li>{{ disparity.title }}</li>
          {% endfor %}
        </ul>

        <div class="tab-content">
          {% for disparity in page.disparities %}
            <div class="tab" data-tab='{{ disparity.title }}'>
              <h3>{{ disparity.title }}</h3>
              {{ disparity.text | markdownify }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="content-wrapper">
      <h2>{{ page.footer.title }}</h2>

      <ul class="events-list">
        {% for event in page.events limit:3 %}
          <li>
            <div class="event-date">
              {{ event.date.month}} <span class="day">{{ event.date.day }}</span>
            </div>
            <div class="event-info">
              <div class="event-header">
                <h5>{{ event.title }}</h5>
                <h5>{{ event.date.time }}</h5>
              </div>
              <p>
                {{ event.content }}
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </footer>

</section>
