---
layout: default
---

<section class="layout home">

  <header>
    <img src="{{ page.header_image | relative_url }}" class="header-background">
    <h4>State of Equity for Metro Boston Policy Agenda </h4>
    <h1>{{ page.header_text | markdownify }}</h1>
    <h3>This policy agenda is a draft and under review. Please submit any public comments to bkeppard@mapc.org.</h3>
  </header>

  <section class="intro-section">
    <div class="content-wrapper">
      <h2>{{ page.intro.title }}</h2>

      <p class="tight">
        {{ page.intro.text | markdownify }}
      </p>

      {% include goals.html %}
    </div>
  </section>

  <section class="sub-section download-section">
    <div class="content-wrapper">
      <div class="sub-section-column">
        <h2>{{ page.subsection.title }}</h2>

        {{ page.subsection.text | markdownify }}

        <button data-action='download-report'>DOWNLOAD NOW</button>
      </div>

      <div class="sub-section-column">
        {% if page.subsection.image %}
          <div class="image-wrapper">
            <img src="{{ page.subsection.image | relative_url }}">
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="guiding-principles-section">
    <div class="content-wrapper">
      <h2>{{ page.principles_section.title }}</h2>

      {{ page.principles_section.text | markdownify }}

      <div class='principles-grid'>
        {% for principle in page.principles %}
          <div class="principle">
            <img src="{{ principle.illustration | relative_url }}">
            <h5>{{ principle.title }}</h5>
            <p>
              {{ principle.content }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="disparities-section">
    <div class="content-wrapper">
      <div class="disparities tabs">
        <ul class="tab-list" data-tabs>
          {% for disparity in page.disparities %}
            <li>{{ disparity.title }}</li>
          {% endfor %}
        </ul>

        <div class="tab-content">
          {% for disparity in page.disparities %}
            <div class="tab" data-tab='{{ disparity.title }}'>
              <h3>{{ disparity.title }}</h3>
              {{ disparity.text | markdownify }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

</section>
