---
layout: default
---

<section class="layout indicators">

  <div class="content-wrapper">
    <h1>{{ page.title }}</h1> 
    {{ content | markdownify }}

    <div class="indicators tabs">
      <ul class="tab-list" data-tabs>
        {% for indicator in page.indicators %}
          <li data-viz-id="{{ indicator.viz_id }}">{{ indicator.title }}</li>
        {% endfor %}
      </ul>

      <div class="tab-content">
        {% for indicator in page.indicators %}
          <div class="tab" data-tab='{{ indicator.title }}'>
            {{ indicator.text | markdownify }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class='charts-wrapper'>
      <h3 data-title></h3>

      <div data-viewer="chart">
        <div data-chart></div>

        <div class="meta-chart">
          <p data-chart-note></p>
          <p>Span: <span data-chart-source></span></p>
        </div>
      </div>

      <div class="active" data-viewer="map">
        <div class="charts-column">
          <map></map>

          <div class="legend-text">            
            <p data-map-label></p>
          </div>

          <div class="map-legend">
            <div class="legend-range">
              <span class="range-min"></span>
              <span class="range-max"></span>
            </div>
          </div>
        </div>

        <div class="charts-column">
          <div class="candlestick-viewer">
            <div class="sub-header default">
              <h2>Hover over the map to compare to the region or click on each race to change the map.</h2>
              <h2><span data-municipal></span> compared to the region</h2>
            </div>

            <div class="candlesticks">
              <div class="candlestick">
                <h4 class="active">All</h4>
                <div data-candlestick="all"></div>
              </div>

              <div class="candlestick">
                <h4 class="active">Asian</h4>
                <div data-candlestick="as"></div>
              </div>

              <div class="candlestick">
                <h4>Black</h4>
                <div data-candlestick="aa"></div>
              </div>

              <div class="candlestick">
                <h4>Latino</h4>
                <div data-candlestick="lat"></div>
              </div>

              <div class="candlestick">
                <h4>White</h4>
                <div data-candlestick="nhw"></div>
              </div>
            </div>
          </div>
          
          <div class="meta-map">
            <p>Source: <span data-map-source></span></p>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
