---
layout: default
---

<section class="layout indicators">

  <div class="content-wrapper">
    <h1>Equity Indicators Overview</h1> 
    <p>
      In 2011 MAPC released The State of Equity in Metro Boston, an inventory of cross- sectoral 
      indicators that measured inequity in the region. Those indicators informed the creation of 
      MAPC’s State of Equity Policy Agenda in 2012. MAPC’s 2017 update to the State of Equity was 
      published in the Spring of 2017 and forms the basis for the agenda put forth in this document. 
      The following section summarized the findings of the 2017 State of Equity report. For the full 
      State of Equity report please visit <http://www.regionalindicators.org/topic_areas/7>.
    </p>
    <p>
      The indicators suggest that conditions which contribute to inequity are persisting or becoming 
      more severe: discrimination, whether overt or systemic, continues to limit opportunity for 
      some residents; income and wealth disparity is increasing, dimming the prospects for upward 
      mobility; and residential segregation, especially segregation by income, is becoming more severe. 
    </p>

    <div class="indicators tabs">
      <ul class="tab-list" data-tabs>
        <li>Diversity</li>
        <li>Housing</li>
        <li>Health</li>
        <li>Employment</li>
        <li>Education</li>
        <li>Criminal Justice</li>
        <li>Home-Ownership</li>
        <li>Income</li>
        <li>Seniors</li>
      </ul>

      <div class="tab-content">
        <div class="tab" data-tab='Diversity'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Housing'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Health'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Employment'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Education'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Criminal Justice'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Home-Ownership'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Income'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>

        <div class="tab" data-tab='Seniors'>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population was 8% people of color; 
            by 2010, that figure had grown to 25%. MAPC projects that by 2040 the region will be at least 
            40% people of color. Even as it grows more diverse, the region remains racially and 
            economically segregated. The Dissimilarity Index, which measures the extent to which two groups 
            are similarly distributed across the region, has shown decreasing Black- White segregation 
            since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than it was in 1990, 
            indicating a greater degree of segregation between the two groups. Other measures of economic 
            segregation demonstrate that the region’s poorest households are becoming increasingly 
            concentrated into low-income neighborhoods with little income diversity.
          </p>
        </div>
      </div>
    </div>

    <div class='charts-wrapper'>
      <h3>Median Income by Household Income and Race/Ethnicity for the MAPC Region, 2011 - 2015</h3>

      <div class="charts">
        <div class="charts-column">
        </div>

        <div class="charts-column">
        </div>
      </div>
    </div>
  </div>

</section>
