---
layout: default
---

<section class="layout indicators">

  <div class="content-wrapper">
    <h1>{{ page.title }}</h1> 
    {{ content | markdownify }}

    <div class="indicators tabs">
      <ul class="tab-list" data-tabs>
        {% for indicator in page.indicators %}
          <li>{{ indicator.title }}</li>
        {% endfor %}
      </ul>

      <div class="tab-content">
        {% for indicator in page.indicators %}
          <div class="tab" data-tab='{{ indicator.title }}'>
            {{ indicator.text | markdownify }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class='charts-wrapper'>
      <h3>Median Income by Household Income and Race/Ethnicity for the MAPC Region, 2011 - 2015</h3>

      <div class="charts">
        <div class="charts-column">
          <map></map>
        </div>

        <div class="charts-column">
          <div class="sub-header default">
            <h2>Hover over the map to compare the region</h2>
            <h2><span data-municipal></span> compared to the region</h2>
          </div>

          <div class="candlesticks">
            <div class="candlestick">
              <h4>Asian</h4>
              <div data-candlestick="as"></div>
            </div>

            <div class="candlestick">
              <h4>Black</h4>
              <div data-candlestick="aa"></div>
            </div>

            <div class="candlestick">
              <h4>Latino</h4>
              <div data-candlestick="lat"></div>
            </div>

            <div class="candlestick">
              <h4>White</h4>
              <div data-candlestick="whi"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
