---
layout: default
---

<section class="layout outcome">

  <header>
    <img src="{{ '/assets/images/bikers.jpg' | relative_url }}" class="header-background">

    <div class="header-content content-wrapper">
      <h1>{{ page.title }}</h1>
      <p>
        {{ content }}
      </p>
    </div>
  </header>

  {% for strategy in page.strategies %}
    <article class="strategy content-wrapper">
      <div class="strategy-details">
        <h2>
          {{ strategy.title }}
        </h2>

        <p>
          {{ strategy.content }}
        </p>

        <ul class="policy-list" data-accordion>
          {% for policy in strategy.policies %}
            <li>
              <button data-action="toggle-accordion">+</button>

              <h4>
                {{ policy.title}}
              </h4>

              <p>
                {{ policy.content }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="strategy-metrics">
        <img src="{{ '/assets/images/viz-sample.jpg' | relative_url }}">
      </div>
    </article>

    {% if strategy.best_practice %}
      <section class="sub-section best-practice">
        <div class="content-wrapper">
          <div class="sub-section-column">
            <h2>BEST PRACTICE FOR MUNIS</h2>
            <p> 
              {{ strategy.best_practice.content }}
            </p>
          </div>

          <div class="sub-section-column">
            <div class="image-placeholder"></div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}

  <footer>
    <div class="footer-content content-wrapper">
      <h2>Let's build an equitable Boston together...</h2>

      {% include goals.html %}
    </div>
  </footer>

</section>
