---
layout: default
---

<section class="layout outcome">

  <header>
    <img src="{{ '/assets/images/bikers.jpg' | relative_url }}" class="header-background">

    <div class="header-content">
      <h1>We have good jobs and pathways to prosperity.</h1>

      <div class="policies">
        These policies address issues related to:

        <ul class="policy-category-list">
          <li>Economic Segragation</li>
          <li>Public Health</li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <article class="strategy">
      <h2>
        Protect tenants and increase the supply of homes that low- and
        middle-income households can afford
      </h2>

      <div class="strategy-content">
        <div class="strategy-details">
          <ul class="policy-list">
            <li>
              Update our zoning laws to mandate multi-family, inclusionary
              zoning, and cluster development. Prohibity exclusionary zoning.
            </li>
            <li>
              Create a universal application for housing.
            </li>
            <li>
              Incentivize affordable housing near transit.
            </li>
            <li>
              Create protections for tenants: right to counsel, right of first
              refusal, housing tax credits to lessor that rent at below-market
              rates.
            </li>
          </ul>

          <div class="best-practice">
            <h4>BEST PRACTICE:</h4>

            Reduce parking requirements to encourage production fo more 
            affordable units.
          </div>
        </div>

        <div class="strategy-metrics">
          <img src="{{ '/assets/images/viz-sample.jpg' | relative_url }}">
        </div>
      </div>
    </article>

    <article class="strategy">
      <h2>
        Ensure that our communities are inclusive, representative and democratic
      </h2>

      <div class="strategy-content">
        <div class="strategy-details">
          <ul class="policy-list">
            <li>
              Sanctuary policies
            </li>
            <li>
              Automatic voter registration
            </li>
            <li>
              Allow immigrants to vote in municipal elections
            </li>
          </ul>

          <div class="best-practice">
            <h4>BEST PRACTICE:</h4>

            Racial equity impact assessments; municipalities should have 
            an equity team; planning processes should include significant
            community engagement and outreach to include participation from
            older adults, persons with disabilities, racial and ethnic 
            minorities and women.
          </div>
        </div>

        <div class="strategy-metrics">
          <img src="{{ '/assets/images/viz-sample.jpg' | relative_url }}">
        </div>
      </div>
    </article>
  </main>

  <footer>
    <h3>We the people desire...</h3>

    <ul class="desire-list">
      <li>
        Safe Communities
      </li>
      <li>
        Affordable Living
      </li>
      <li>
        Quality Jobs
      </li>
      <li>
        Safe Environments
      </li>
      <li>
        Public Safety
      </li>
      <li>
        Affordable Education
      </li>
    </ul>
  </footer>

</section>
