---
layout: default
---

<section class="layout report">

  <header>
    <h4>State of Equity Agenda Update</h4>
  </header>

  <div class="report-wrapper">
    <div class="report-navigation">
      <ul>
        {% for section in page.sections %}
          <li data-anchor="#{{section.anchor}}">
            <a href="#{{section.anchor}}">{{section.title}}</a>

            {% if section.subsections %}
              <ul>
                {% for subsection in section.subsections %}
                  <li data-anchor="#{{subsection.anchor}}">
                    <a href="#{{subsection.anchor}}">{{subsection.title}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="report-viewer"> 
      <div class="report-viewer-content">
        {% for section in page.sections %}
          <div class="report-section" id="{{section.anchor}}">
            <h1>{{section.title}}</h1>

            {{ section.text | markdownify }}
          </div>

          {% for subsection in section.subsections %}
            <div class="report-sub-section" id="{{subsection.anchor}}">
              <h2>{{subsection.title}}</h2>

              {{ subsection.text | markdownify }}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>

</section>
