---
layout: default
---

<section class="layout report">

  <header>
    <h4>State of Equity Agenda Update</h4>
  </header>

  <div class="report-wrapper">
    <div class="report-navigation">
      <ul>
        <li><a href="#summary">Executive Summary</a></li>
        <li>
          <a href="#introduction">Introduction</a>

          <ul>
            <li><a href="#current-policy">Current Policy</a></li>
          </ul>
        </li>
        <li>
          <a href="#previous-agenda">Previous SOE Policy Agenda</a>

          <ul>
            <li><a href="#overview">Brief Overview</a></li>
            <li><a href="#progress-summary">Summary of Progress</a></li>
          </ul>
        </li>
        <li>
          <a href="#indicators-overview">Equity Indicators Overview</a>
          
          <ul>
            <li><a href="#diversity">Diversity</a></li>
            <li><a href="#housing">Housing</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="report-viewer"> 
      <div class="report-section" id="introduction">
        <h1>Introduction</h1>
        <p>
          In 2011 MAPC released The State of Equity in Metro Boston, an inventory of 
          cross- sectoral indicators that measured inequity in the region. Those 
          indicators informed the creation of MAPC’s State of Equity Policy Agenda in 
          2012. MAPC’s 2017 update to the State of Equity was published in the Spring 
          of 2017 and forms the basis for the agenda put forth in this document. The 
          following section summarized the findings of the 2017 State of Equity report. 
          For the full State of Equity report please visit 
          <http://www.regionalindicators.org/topic_areas/7>
        </p>
        <p>
          The indicators suggest that conditions which contribute to inequity are 
          persisting or becoming more severe: discrimination, whether overt or systemic, 
          continues to limit opportunity for some residents; income and wealth 
          disparity is increasing, dimming the prospects for upward mobility; and 
          residential segregation, especially segregation by income, is becoming more 
          severe. 
        </p>

        <div class="report-sub-section" id="current-policy">
          <h2>Current Policy</h2>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population 
            was 8% people of color; by 2010, that figure had grown to 25%. MAPC projects 
            that by 2040 the region will be at least 40% people of color. Even as it 
            grows more diverse, the region remains racially and economically segregated. 
            The Dissimilarity Index, which measures the extent to which two groups are 
            similarly distributed across the region, has shown decreasing Black- White 
            segregation since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than 
            it was in 1990, indicating a greater degree of segregation between the two 
            groups. Other measures of economic segregation demonstrate that the region’s 
            poorest households are becoming increasingly concentrated into low-income 
            neighborhoods with little income diversity.
          </p>
        </div>
      </div>

      <div class="report-section" id="previous-agenda">
        <h1>Previous SOE Policy Agenda</h1>
        <p>
          In 2011 MAPC released The State of Equity in Metro Boston, an inventory of 
          cross- sectoral indicators that measured inequity in the region. Those 
          indicators informed the creation of MAPC’s State of Equity Policy Agenda in 
          2012. MAPC’s 2017 update to the State of Equity was published in the Spring 
          of 2017 and forms the basis for the agenda put forth in this document. The 
          following section summarized the findings of the 2017 State of Equity report. 
          For the full State of Equity report please visit 
          <http://www.regionalindicators.org/topic_areas/7>
        </p>

        <div class="report-sub-section" id="overview">
          <h2>Brief Overview</h2>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population 
            was 8% people of color; by 2010, that figure had grown to 25%. MAPC projects 
            that by 2040 the region will be at least 40% people of color. Even as it 
            grows more diverse, the region remains racially and economically segregated. 
            The Dissimilarity Index, which measures the extent to which two groups are 
            similarly distributed across the region, has shown decreasing Black- White 
            segregation since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than 
            it was in 1990, indicating a greater degree of segregation between the two 
            groups. Other measures of economic segregation demonstrate that the region’s 
            poorest households are becoming increasingly concentrated into low-income 
            neighborhoods with little income diversity.
          </p>
        </div>

        <div class="report-sub-section" id="progress-summary">
          <h2>Summary of Progress</h2>
          <p>
            People of color live in less-affluent neighborhoods than white households 
            with comparable earnings. Odds are that a White household earning $78,000 
            per year lives in a neighborhood where the median household income of its 
            neighbors is $72,000. Meanwhile, a Black household earning exactly the same 
            is likely to live in a neighborhood where the median income is just $51,000. 
            This disparity has increased substantially since 2000. 
          </p>
        </div>
      </div>

      <div class="report-section" id="indicators-overview">
        <h1>Equity Indicators Overview</h1>
        <p>
          In 2011 MAPC released The State of Equity in Metro Boston, an inventory of 
          cross- sectoral indicators that measured inequity in the region. Those 
          indicators informed the creation of MAPC’s State of Equity Policy Agenda in 
          2012. MAPC’s 2017 update to the State of Equity was published in the Spring 
          of 2017 and forms the basis for the agenda put forth in this document. The 
          following section summarized the findings of the 2017 State of Equity report. 
          For the full State of Equity report please visit 
          <http://www.regionalindicators.org/topic_areas/7>
        </p>
        <p>
          The indicators suggest that conditions which contribute to inequity are 
          persisting or becoming more severe: discrimination, whether overt or systemic, 
          continues to limit opportunity for some residents; income and wealth 
          disparity is increasing, dimming the prospects for upward mobility; and 
          residential segregation, especially segregation by income, is becoming more 
          severe. 
        </p>

        <div class="report-sub-section" id="diversity">
          <h2>Diversity</h2>
          <p>
            Metro Boston is becoming more diverse. In 1980, the region’s population 
            was 8% people of color; by 2010, that figure had grown to 25%. MAPC projects 
            that by 2040 the region will be at least 40% people of color. Even as it 
            grows more diverse, the region remains racially and economically segregated. 
            The Dissimilarity Index, which measures the extent to which two groups are 
            similarly distributed across the region, has shown decreasing Black- White 
            segregation since 1980.
          </p>
          <p>
            However, the Dissimilarity Index for Latinos and Whites is now higher than 
            it was in 1990, indicating a greater degree of segregation between the two 
            groups. Other measures of economic segregation demonstrate that the region’s 
            poorest households are becoming increasingly concentrated into low-income 
            neighborhoods with little income diversity.
          </p>
        </div>

        <div class="report-sub-section" id="housing">
          <h2>Housing</h2>
          <p>
            People of color live in less-affluent neighborhoods than white households 
            with comparable earnings. Odds are that a White household earning $78,000 
            per year lives in a neighborhood where the median household income of its 
            neighbors is $72,000. Meanwhile, a Black household earning exactly the same 
            is likely to live in a neighborhood where the median income is just $51,000. 
            This disparity has increased substantially since 2000. 
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
